<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.service.dao.UserDao" >

<select id="queryUserId" parameterType="java.lang.Long" resultType="com.leyou.service.pojo.User">
    select
    id as id,
    user_Name as userName,
    password as password,
    name as name
    from user
    where id = #{id,jdbcType=BIGINT }
</select>

    <select id="findTeaSub" parameterType="com.leyou.service.pojo.ParamMap" resultMap="teaSubMap">
        select
        t.tea_id as teaId,
        t.tea_nm as teaNm,
        s.sub_id as subId,
        s.sub_nm as subNm
        from
        (select
          tea_id,
          tea_nm
        from tea limit #{pageStart},#{pageSize}) t
        left join sub s on t.tea_id = s.tea_id
    </select>

    <resultMap id="teaSubMap" type="com.leyou.service.pojo.Tea">
        <id column="teaId" property="teaId"/>
        <result column="teaNm" property="teaNm"/>
        <collection property="sub" ofType="com.leyou.service.pojo.Sub" column="teaId">
            <result column="subId" property="subId"/>
            <result column="subNm" property="subNm"/>
        </collection>
    </resultMap>

    <select id="findHeader" resultType="com.leyou.service.pojo.Header">
        select
          heard_id as heardId,
          heard_nm as heardNm
        from hearders
    </select>

    <select id="findData" resultType="com.leyou.service.pojo.DataScore">
        select
         heard_id as heardId,
         score as score
         from score
    </select>

</mapper>